body {
  background-color: #FCFF94;
}

.jumbotron {
  background-image: url(/img/pasar_terapung.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.jumbotron img {
  width: 150px;
}

.wisata_1 img,
.wisata_2 img,
.wisata_3 img {
  width: 300px;
}

section {
  padding-top: 4rem;
}

@media (min-width: 576px) {
 .jumbotron {
     height: 500px;
 }
}

@media (min-width: 768px) {
  .jumbotron {
    height: 400px;
  }
}


/* .gambar_wisata_2{
    background-image: url(/img/lanting.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    
} */

/* .gambar_wisata_3{
    background-image: url(/img/langgara.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    
} */
